.feedback-container {
  /* border: 1px solid white; */
  height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.feedback-input-container {
  height: 75%;
  width: 80%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.119);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
}

.feedback-textarea {
    width: 90%;
    height: 94%;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.204);
    text-align: start;
    outline: none;
    padding: 15px;
}

.feedback-send-btn {
    border-radius: 15px;
    width: 35%;
    height: 7%;
    border: none;
    background-color: rgba(198, 198, 198, 0.239);
    color: aliceblue;
    font-size: medium;
    cursor: pointer;
    /* box-shadow: 1px 3px 3px rgb(0, 0, 0); */
    position: relative;
    bottom: 6rem;
}

.feedback-send-btn:hover {
    box-shadow: 1px 3px 3px rgb(0, 0, 0);
}

.feedback-send-btn:active {
    box-shadow: 1px 3px 3px rgb(0, 0, 0);
}