.dropdown-container {
  position: relative;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
}
.dropdown-react-menu-icon {
  scale: 2.5;
}

#toggle-dropdown {
  display: none; /* Hiding the checkbox here */
}

.dropdown {
  display: inline-block;
  cursor: pointer;
}

/* Dropdown menu */
.dropdown-active, .dropdown-not-active {
  position: absolute;
  left: 0;
  top: 6%;
  width: 96%;
  max-height: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.204); /* Background with transparency */
  backdrop-filter: blur(10px); /*This creates the background blurr effect*/
  transition: max-height 0.3s ease-in-out;
  border-radius: 20px;
  margin-left: 1.5%;
}

.dropdown-active {
  max-height: 350px; /* this is based on the contents height */
}

.dd-link, .dd-misc {
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
}

.dd-link:hover {
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.204); */
  text-decoration: underline rgb(255, 255, 255);
}