.signup-body {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.signup-logo-link {
  height: auto;
}
.signup-logo-logo {
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.705);
  /* background-color: #131b28; */
  height: 10rem;
  width: 10rem;
}

.signup-container {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.signup-form {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background: linear-gradient(
    180deg,
    rgba(1, 1, 1, 0.16) 0%,
    rgba(1, 1, 1, 0.6) 46.5%,
    rgba(1, 1, 1, 0.57) 100%
  );
}

.signup-username,
.signup-password,
.signup-fname,
.signup-lname,
.signup-email,
.signup-dob{
  text-align: center;
  height: 2rem;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 1rem;
  outline: none;
  width: 100%;
  text-decoration: none;
}

.signup-button {
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .signup-logo-logo:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.705);
  }
}
