.loginForm{
    display:grid;
    margin: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
    background-color: #363636;
    padding: 20px;
    gap: 10px; 
    border-radius: 20px;
    height: 24rem;
   
}

.LoginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.username{
    grid-column: 1/-1;
    grid-row: 1;
    border-radius: 8px; 
    margin: 8px; 
    text-align: center;   
}
.password{
    grid-column: 1/-1;
    grid-row: 2;
    border-radius: 8px;
    margin: 8px;
    text-align: center;
    
}
.button{
    grid-column: 1/-1;
    grid-row: 3;
    background-color: #2C7145;
    color: black;
    border-radius: 8px;
    font-size: x-large;
    margin: 8px;
    border-style: none;
    cursor: pointer;
}
.button:hover {
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.37);
}

/*FORGOT PASSWORD*/
.fg{
    grid-column: 1/2;
    grid-row: 4;
    color: whitesmoke;
    font-size: 20px;
    margin-left: 10px;
    align-self: center;
    

}
/*CREATE ACCOUNT*/
.ca{
    grid-column: 2/2;
    grid-row: 4;
    color: whitesmoke;
    font-size: 20px;
    align-self: center;
    
}




.LoginContainer{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;  
}

@media (min-width:600px) {
    .LoginContainer{
        display: flex;
        align-items: center;
        justify-content: center;  
    } 
}

@media (max-width:599px) and (min-width:457px)  {
    .LoginContainer{
        display: flex;
        align-items: center;
        justify-content: center;  
    } 

}