.LoginContainer{
    align-items: center;
    justify-content: center;
    max-width: 60%;
    display: flex;
    height: auto;
}
.loginForm{
    display:grid;
    /* margin: 10px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1,1fr);
    /* background: linear-gradient(180deg, #010101 0%, #010101 47%, #010101 100%); */
    background: linear-gradient(180deg, rgba(1, 1, 1, 0.16) 0%, rgba(1, 1, 1, 0.6) 46.5%, rgba(1, 1, 1, 0.57) 100%);
    padding: 2rem;
    gap: 1.2rem; 
    border-radius: 25px;
}

.username{
    grid-column: 1/-1;
    grid-row: 1;
    border-radius: 8px; 
    /* margin: 8px; */
    text-align: center;
    height: 2rem;
    outline: none;
}
.password{
    grid-column: 1/-1;
    grid-row: 2;
    border-radius: 8px;
    /* margin: 8px; */
    text-align: center;
    height: 2rem;
    outline: none;
}
.button {
    grid-column: 2/3;
    grid-row: 5;
    background-color: #D9D9D9;
    color: black;
    border-radius: 8px;
    font-size: medium;
    /* margin: 8px; */
    border-style: none;
    cursor: pointer;
    padding: 5px;
    height: 2.5rem;
    margin-left: -3rem;
    margin-right: -3rem;
}


/*FORGOT PASSWORD*/
/* .fg{
    grid-column: 1/2;
    grid-row: 3;
    color: rgb(0, 0, 0);
    font-size: 50%;
    margin-left: 0.6rem;
    margin-right: -2rem;
    background-color: #D9D9D9;
    border-radius: 5px;
    text-align: center;
    align-content:  center;
    height: 2rem;
    border: none;
} */

/*CREATE ACCOUNT*/
.ca{
    grid-column: 2/3;
    grid-row: 3;
    color: rgb(0, 0, 0);
    font-size: 50%;
    margin-right: -2rem;
    margin-left: -2rem;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    height: 2rem;
    
}

.button:hover,
.fg:hover,
.ca:hover {
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.603);
}


/* @media (min-width:600px) {
    .LoginContainer{
        display: flex;
        align-items: center;
        justify-content: center;  
    } 
}

@media (max-width:599px) and (min-width:457px)  {
    .LoginContainer{
        display: flex;
        align-items: center;
        justify-content: center;  
    } 

} */