

/*BODY*/
.profile-container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38rem;
}
/*ON IMG*/
.profile-profilepicture {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.158);
    text-align: center;
}

.profile-name {
    color: aliceblue;
    margin-bottom: 1rem;
}

.profile-user-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 40%;
    background-color: rgba(139, 139, 139, 0.479);
    border-radius: 7px;
    color: aliceblue;
    margin-bottom: 3rem;
}
/*SCORE BOARD*/
.profile-gameboard-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.07rem;
  width: 15rem;
  height: 15rem;
  background-color: rgba(41, 41, 41, 0.479);
  border-radius: 5px;

}
    /*EACH SQUARE*/
.grid-cell {
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
    /*ICON BOARD*/
.profile-iconboard-container {
    /* border: 1px solid white; */
    background-color: rgba(14, 14, 14, 0.927);
    border-radius: 15px;
    height: 20rem;
    width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: absolute;
    bottom: 12.7rem;
}
.profile-iconboard-icon {
    border: 1px solid yellow;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}


/* styles and fits the icons to the size of there parent element*/
.purchased-icon,
.dragon-egg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid white;
    cursor: pointer;
}

/* .grid-cell.purchased {
    background-color: orange; /* When the purchase of an icon has been bade the random square selected will turn orange to indicate  its occupied
} */

.profile-upgrade-buy-container {
    display: flex;
    flex-direction: row;
}

.profile-upgrade,
.profile-buy {
    padding: 1rem;
}

.upgrade,
.buy,
.buy-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6.45rem;
    height: 2rem;
    color: aliceblue;
    background-color: rgba(139, 139, 139, 0.479);
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}


.buy,
.buy-icon {
    padding-left: 1.5rem;
}