.W-1 {
  border: 1px solid whitesmoke;
  width: 10rem;
  border-radius: 10px;
}


/*BODY*/
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38rem;
}
/*ON IMG*/
.profile-profilepicture {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.158);
  text-align: center;
}

.profile-name {
  color: aliceblue;
  margin-bottom: 1rem;
}

.profile-user-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 25px;
  background-color: rgba(139, 139, 139, 0.479);
  border-radius: 7px;
  color: aliceblue;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
/*SCORE BOARD*/
.profile-gameboard-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.07rem;
  width: 60%;
  max-width: 15rem;
  background-color: rgba(41, 41, 41, 0.479);
  border-radius: 5px;
}
/*EACH SQUARE*/
.grid-cell {
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  height: 2.38rem;
}
/*ICON BOARD*/
.profile-iconboard-container {
  background-color: rgba(14, 14, 14, 0.781);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  height: 20rem;
  width: 62%;
  max-width: 21rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: absolute;
  bottom: 12.7rem;
}
.profile-iconboard-icon {
  display: flex;
  width: 30%;
  height: 25%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

/* styles and fits the icons to the size of there parent element*/
.purchased-icon,
.dragon-egg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  border-radius: 10px;
}

.profile-upgrade-buy-container {
  display: flex;
  flex-direction: row;
}

.profile-upgrade,
.profile-buy {
  padding: 1rem;
}

.upgrade,
.buy,
.buy-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.45rem;
  height: 2rem;
  color: aliceblue;
  background-color: rgba(139, 139, 139, 0.479);
  border-radius: 5px;
  border: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  
}

.buy,
.buy-icon {
  padding-left: 1.5rem;
}
.buy-icon {
  width: 100%;
  height: 15%;
  padding: 15px;
  font-size: 15px;
}
.dragon-icon-price {
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin-top: 5px;
  width: 100%;
  height: 25%;
}




/*ACTIVE*/
.dragon-egg:active {
  scale: 1.3;
}

.upgrade:active,
.buy:active,
.buy-icon:active {
    box-shadow: 3px 4px 5px black;
    scale: 1.05;
}
/*FOCUS*/



/*HOVER*/
.upgrade:hover,
.buy:hover,
.buy-icon:hover {
    box-shadow: 1px 1px 1px solid black;
}