* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
  /* height: 100%; */
}

body {
  width: 100% !important;
  height: 100% !important;
  min-height: 100vh !important;
}
